[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
geopy = "*"
apscheduler = "*"
pillow = "*"
daphne = "*"
channels = "*"
redis = "*"
channels-redis = "*"
django-admin-list-filter-dropdown = "*"
djangorestframework-simplejwt = "*"

[dev-packages]

[requires]
python_version = "3.11"
